@keyframes spin-b-iy7s8dz70t {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn-b-iy7s8dz70t {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.custom-spinner[b-iy7s8dz70t] {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin-b-iy7s8dz70t 1s linear infinite;
}

.fade-in[b-iy7s8dz70t] {
    animation: fadeIn-b-iy7s8dz70t 0.6s ease-in;
}